body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.navbar h1 {
  text-align: center;
}

main {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.conteiner {
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}

.esquerda,
.direita {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.professores {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 3;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labs {
  flex: 1;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agenda {
  flex: 4;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-disciplina {
  padding: 5px 10px;
  background: #4e73df;
  color: white;
  border-radius: 5px;
  margin: 3px;
  cursor: move;
  text-align: center;
}

#tabela-agenda td {
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.labs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.lab-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.btn {
  padding: 8px 12px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
.btn:hover {
  background-color: #0056b3;
}

.lab-card img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}