<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LabAgenda</title>
      <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <h1>LabAgenda</h1>
      </nav>
    </header>
    <main>
      <section class="labs">
        {% for laboratorio in laboratorios %}
        <div class="lab-card">
          <h2>LAB{{ laboratorio.numero }}</h2>
          <p><strong>Capacidade:</strong> {{ laboratorio.capacidade }}</p>
          <p>{{ laboratorio.status }}</p>
          {% if laboratorio.descriçao %}
          <p>{{ laboratorio.descriçao }}</p>
          {% endif %}
          <a class="btn" href="{{ url_for('agenda', lab_id=laboratorio.numero) }}"
            >Ver agenda</a>
        </div>
        {% else %}
        <p></p>
        {% endfor %}
        <a href="{{ url_for('newlab') }}" class="lab-card">
          <img src="{{ url_for('static', filename='imgs/plus.png')}}" alt="Adicionar">
          <p>Adicionar lab</p>
        </a>
      </section>
    </main>
  </body>
</html>
